<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <!--<add name="OLEDbConnection"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=C:\Users\Ivan-Desu\Documents\納期管理2008.mdb;"
         providerName="System.Data.SqlClient" />-->
        <!--<add name="OLEDbConnection"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=\\172.25.112.99\RGonzales\Desktop\3 Model Kanban System\納期管理2008.mdb;"
         providerName="System.Data.SqlClient" />-->

        <add name="OLEDbConnection"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=\\172.25.112.171\System Group\modelline\納期管理2008.mdb;"
         providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.web>
        <compilation debug="true"/>
        <customErrors mode="Off"/>
        <trust level="Full" originUrl="" />
    </system.web>

</configuration>
